body {
    margin: 60px auto;
    width: 70%;
}
html { 
  background: lavender; 
no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg {
  /*Futuristic office */
  background-image: url(https://images.pexels.com/photos/4827/nature-forest-trees-fog.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    height: 50%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: 1600px 1200px, contain;
  position: absolute;
}

.bg10{
background: url(https://images.pexels.com/photos/7919/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=650&w=940)
	  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	backkground-size: cover;
}
	
	nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold; 
	color:black;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;font-weight:bold; color:black;
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}
h1 {align:center;
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif'; color:black;
}
p {
    font-size: 1.5em;
    line-height: 1.4em; 
    color: black;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em; color:black;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.bg2 {
  background: url("https://images.pexels.com/photos/311458/pexels-photo-311458.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
}

.bg3 {
  background: url("https://images.pexels.com/photos/311458/pexels-photo-311458.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
}

.bg4 {
  background: white;
  background-repeat: no-repeat;
  background-size: 1700px 1975px;
  background-position: center; 
}

.bg5 {
  background: white;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
 }

.cropcircle{
  border-color: silver;
     border-style: solid;
  border-width: 6px;
      width: 250px;
    height: 250px;
    border-radius: 100%;
    background: #eee no-repeat center;
    background-size: cover; 
}

.name {
  font-family: Georgia, Serif;
  font-style: bold;
  font-size: 300%;
  color: black;  
}    

.name2 {
  
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold; 
	color:black;
}

.textShadow {
  font-family: Georgia, Serif;
  
  font-size: 150%;
   text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.name3 {
  font-family: Georgia, Serif;
  font-style: bold;
  font-size: 400%;
  color: white;
  text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.name4 {
  font-family: Georgia, Serif;
  font-style: bold;
  font-size: 200%;
  color: white;   
}
body2 {
	background-color: #000000;
	color: #ffffff;
	overflow: hidden;
}
#c {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
#desc {
	position: absolute;
  padding: 8px;
	top: 16px;
	left: 16px;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.2);
	width: 1024px;
}
