<!DOCTYPE html>
	<html>
		<head>
		  <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <script src="https://use.fontawesome.com/92f3f685d7.js"></script>
      <link rel="stylesheet" href="css/main2.css" />
      <title>{{ page.title }}</title>
		</head>
    
	<body id="bg-img">
    <header>
      <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
      </div>

      <nav class="menu">
        <div class="menu-branding">
          <div class="portrait"></div>
        </div>

        <ul class="menu-nav">
          <li class="nav-item current">
            <a href="index2.html" class="nav-link">Home</a>
          </li>

          <li class="nav-item">
            <a href="research.html" class="nav-link">Research</a>
          </li>
          
          <li class="nav-item">
            <a href="teaching.html" class="nav-link">Teaching</a>
          </li>
          
           <li class="nav-item">
            <a href="civic.html" class="nav-link">Service</a>
          </li>
          
          <li class="nav-item">
            <a href="/blog/index.html" class="nav-link">Blog</a>
          </li>
          
          <li class="nav-item">
            <a href="contact.html" class="nav-link">Contact</a>
          </li>
        </ul>
      </nav>
</header>
				
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<a href="mailto:mrlengefeld@protonmail.com">Contact Webmaster</a>&ensp 
				<a href="https://resilience1.github.io/blog/atom.xml">RSS feed</a>&ensp
				Copyright © 2019      
				</ul>
			</footer>
		</body>
</html>
