<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/teaching">Teaching</a></li>
				<li><a href="/research">Research</a></li>
				<li><a href="/publications">Publications</a></li>
				<li><a href="/cv">CV</a></li>
				<li><a href="/civic">Service</a></li>
				<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
								
	    		</ul>
			</nav>
			<div class="container">
				
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="mailto:resilience1@zoho.com">Email</a></li>
	        		<li><a href="https://github.com/resilience1">github.com/resilience1</a></li>
				<li><a href="http://resilience1.github.io/blog/atom.xml">RSS feed</a></li>
				 <li>          This website is written and coded by Michael Lengefeld
				</li>
				</ul>
			</footer>
		</body>
	</html>
